@import url(../node_modules/normalize.css/normalize.css);

:root {
  --fontFamily: "Noto Sans", sans-serif;
  --primaryColor: #f1f1f1;
  --headerColor: #fafafa;
  --textColor: #919191;
}
ul {
  list-style-type: none;
  padding: 0px;
}
.header {
  width: 100%;
  height: 96px;
  padding: 32px 312px 32px 312px;
  border-bottom: 1px solid #ffffff;
  background-color: var(--headerColor);
}
.banner {
  width: 100%;
  height: 460px;
  background-color: var(--headerColor);
}

.container {
  width: 100%;
}

.container {
  width: 1296px;
  margin: 120px auto 232px auto;
  font-family: var(--fontFamily);
}

.articles {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.article-img {
  border-radius: 8px;
}

.article-content {
  padding: 0px 16px 0px 16px;
}

.article-item {
  margin-bottom: 80px;
}

.article-title {
  margin-top: 16px;
  margin-bottom: 0px;
  font-weight: 700;
  font-size: 28px;
  line-height: 33.6px;
}

.article-text {
  margin-top: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--textColor);
}

.article-tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.tag {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #3b3b3b;
  padding: 4px 12px 4px 12px;
  border-radius: 16px;
  background-color: var(--primaryColor);
  margin-right: 8px;
}
